---
layout: default
nav_exclude: true
---

<h1>Municipal Elections Archive</h1>

{% assign elections = site.municipalities | group_by: "date" %}
{% for election in elections %}

  <h2>{{ election.name | date_to_string }}</h2>
  
  {% assign region = election.items | where: "level", "region" | first %}
  <h3><a href="{{ region.url }}">{{ region.name }}</a></h3>

  {% assign cities = election.items | where: "level", "city" %}
  {% for city in cities %}
    <h3><a href="{{ city.url }}">{{ city.name }}</a></h3>
  {% endfor %}

  {% assign townships = election.items | where: "level", "township" %}
  {% for township in townships %}
    <h3><a href="{{ township.url }}">{{ township.name }}</a></h3>
  {% endfor %}

{% endfor %}

